<h2>Listing ingredients</h2>

<ul class="list">
  <li>
    <table>
      <thead>
        <tr>
          <th class="visible-header">Name</th>
          <th class="visible-header">Vegetarian</th>
          <th class="visible-header">Nuts</th>
          <th class="visible-header">Dairy</th>
          <th class="visible-header">Gluten</th>
          <th class="visible-header">Soy</th>
          <th class="visible-header">Corn</th>
          <th class="visible-header">Seafood</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @ingredients.each do |ingredient| %>
          <tr>
            <td><%= ingredient.name %></td>
            <td><%= ingredient.vegetarian %></td>
            <td><%= ingredient.nuts %></td>
            <td><%= ingredient.dairy %></td>
            <td><%= ingredient.gluten %></td>
            <td><%= ingredient.soy %></td>
            <td><%= ingredient.corn %></td>
            <td><%= ingredient.seafood %></td>
            <td><%= link_to 'Show', ingredient %></td>
            <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
            <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </li>
</ul>

<br>

<div class="links-to-new">
<%= link_to 'New Ingredient', new_ingredient_path %>
</div>