<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cookbook.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cookbook.description %>
</p>

<p>
  <strong>Recipes:</strong><br>
  <% @cookbook.recipes.each do |recipe| %>
    <%= recipe.name %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_cookbook_path(@cookbook) %> |
<%= link_to 'Back', cookbooks_path %>
